.edit-form-workout-card {
    box-shadow: 0 0 10px 5px grey;
    width: 400px;
    margin: 20px;
    margin-top: 30px;
    padding: 7px;
    border-radius: 10px;
    cursor: default;
}

.workout-card__header {
    display: flex;
    align-items: center;
}

.edit-form-exercise-info {
    display: flex;
    margin-bottom: 7px;
}

.edit-form-exercise-info__set {
    /* min-width: 37; */
    width: 37px;
}

.visible {
    opacity: 1;
}

.fade-out-effect {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
}

input[name="edit-form__workoutName"] {
    font-weight: 1000;
    font-size: 32px;
    /* border: none; */
}

input[name="edit-form__exercise-name"] {
    height: 30px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

input[name="edit-form-exercise-info__weight"],
input[name="edit-form-exercise-info__reps"] {
    height: 20px;
    width: 40px;
    margin-left: 10px;
}

.workout-card__time-values {
    display: flex;
}

.time-values__date {
    margin-right: 30px;
    color: grey;
}

.time-values__workout-length {
    color: grey;
}

.workout-card__workout-info {
    margin-top: 10px;
}

.exercise-name {
    margin-top: 0px;
}

/*Buttons*/
button {
    cursor: pointer;

    border: none;
    border-radius: 10px;
    height: 20px;
    font-weight: bold;
}

.delete-set-btn {
    width: 20px;
    margin-left: auto;
    margin-right: 150px;
    background-color: #f5838d8c;
    font-weight: bold;
}

.delete-exercise-btn {
    width: 386px;
    margin-bottom: 10px;
    background-color: #f5838d8c;
}

.delete-exercise-btn:hover,
.delete-set-btn:hover {
    background-color: #e735438c;
}

.submit-btn {
    width: 40px;
    background-color: rgba(0, 128, 0, 0.555);
}

.add-set-btn {
    width: 386px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 128, 0, 0.555);
}

.add-exercise-btn {
    width: 386px;
    margin-top: 10px;
    background-color: rgba(0, 128, 0, 0.555);
}

.submit-btn:hover,
.add-set-btn:hover,
.add-exercise-btn:hover {
    background-color: rgba(0, 128, 0, 0.829);
}
