/*Form*/
.workout-template-form {
    margin: 20px;
    width: 320px;

    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
}

.workout-template__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.workout-template__header button {
    margin-left: auto;
    margin-right: 20px;
    background-color: white;
}

.reorder-icon {
    margin-right: 20px;
}

.workout-template__edit-icon,
.workout-template__check-icon {
    height: 20px;
    width: 20px;
}

input[name="workout-template__workout-name"] {
    border: none;
    margin-left: 10px;
    width: 280px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
}

input[name="workout-template__workout-name"]:focus {
    outline: none;
}

/*Single Exercise*/
.single-exercise {
    border-top: 1px solid;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.single-exercise__header {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.single-exercise__header p {
    font-size: 20px;
    font-weight: bold;
}

.delete-exercise__btn {
    margin-left: 20px;
    border-radius: 5px;
    background-color: white;
}

.delete-exercise-icon {
    height: 17px;
    width: 17px;
}

.delete-exercise-icon:hover {
    color: red;
}

.single-exercise__add-set,
.finish-template-btn {
    margin-top: 20px;
    width: 300px;
}

.single-exercise__add-set:hover {
    filter: brightness(85%);
}

/*********************Set Table*****************/
.set-table {
    margin-top: 1 0px;
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.set-table-header__set,
.set-table__set {
    width: 30px;
    text-align: center;
}

.set-table-header__weight,
.set-table-header__reps,
.set-table__weight,
.set-table__reps {
    width: 70px;
    text-align: center;
}

.set-table tr {
    height: 25px;
}

.set-table__weight input,
.set-table__reps input {
    width: 60px;
    border-radius: 10px;
    border: none;
    background-color: lightgrey;
    padding-left: 5px;
    /* margin-left: 20px; */
}

.set-table__delete-set button {
    margin-left: 20px;
}

.set-table__delete-set button:hover {
    color: red;
}

/******************workout template footer************/
.workout-template__footer {
    display: flex;
    justify-content: center;
}

.workout-template__footer button {
    background-color: lightgreen;
    margin-bottom: 10px;
}

.workout-template__footer button:hover {
    filter: brightness(85%);
}

.workout-template__footer button:disabled {
    background-color: grey;
    filter: brightness(85%);
    cursor: default;
}
