/*Add Exercise*/
.add-exercise-container {
    margin: 20px;
    width: 400px;

    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
}

.add-exercise-title {
    margin-right: auto;
    margin-left: 10px;
}

.add-exercise-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

input[name="search-exercise"] {
    width: 360px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
}

.create-exercise-btn {
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 360px;
}

.exercise-list-item {
    display: flex;
    align-items: center;
    background-color: white;
    list-style: none;
    /* box-shadow: 0 0 10px 5px grey; */
    width: 380px;
    height: 50px;
    padding: 7px;
    border-top: 1px solid;
}

/*add button*/
.exercise-list-item button {
    margin-left: auto;
    width: 40px;
    border: 1px solid;
}
button:hover {
    filter: brightness(85%);
}

.add-exercise-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-btn-right,
.page-btn-left {
    background-color: white;
    margin: 0px;
    margin-bottom: 20px;
}
.page-btn-left:hover,
.page-btn-right:hover {
    filter: brightness(100%);
}

.page-btn-left:disabled,
.page-btn-right:disabled {
    cursor: default;
}

.page-btn-left {
    margin-right: auto;
    margin-left: 10px;
}
.page-btn-right {
    margin-left: auto;
    margin-right: 10px;
}

.change-page-icon {
    font-size: 30px;
}
