.workout-history-page__info {
    display: flex;
}

.react-calendar {
    height: 300px;
}

.workout-history-page__cards {
    width: 430px;
}

.workout-history__loading-spinner-container {
    display: flex;
    justify-content: center;
}

.loading-spinner {
    width: 100px;
    height: 100px;
}

.edit-workout-loading-spinner-container {
    box-shadow: 0 0 10px 5px grey;
    width: 400px;
    margin: 20px;
    margin-top: 30px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
}
