.start-from-template-page {
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
}

/***********************************Templates list*************************/
.templates-list {
    display: flex;
    /* justify-content: center; */
    margin-left: calc(50vw - 200px);
    flex-direction: column;
    margin-top: 20px;
}

.back-btn {
    font-size: 20px;
    border: 1px solid;
    width: 80px;
    height: 30px;
    margin-right: auto;
    margin-left: 20px;
}

.workout-templates {
    margin-top: 20px;
}

/***********************************Single workout template*************************/
.single-template-container {
    display: flex;
    align-items: center;
    cursor: pointer;

    border-top: 1px solid;
    /* border-radius: 10px; */

    height: 40px;
}

.active-template {
    background-color: lightblue;
}

.workout-name {
    margin-left: 10px;
}

.num-exercises {
    margin-left: auto;
    margin-right: 20px;
    color: grey;
}

/***********************************template more info view*************************/
.more-info-container {
    display: flex;
    align-items: center;

    min-height: 100px;
    padding: 10px;
    position: sticky;
    border: 1px solid;
    border-radius: 30px;
    margin-top: 70px;
    margin-left: 10px;
}

.use-template-btn {
    display: flex;
    margin-left: auto;
    align-items: center;
    background-color: lightgreen;
    padding: 10px;
}
.use-template-btn:hover {
    filter: brightness(85%);
}

.more-info-body {
    margin-top: 10px;
}

.exercise-list {
    margin-top: 5px;
    list-style: none;
}
