.workoutPost {
    width: 330px;
    border-radius: 10px;
    margin-bottom: 20px;
    /* max-height: 400px; */
}

.workoutPost table {
    margin-left: 30px;
}

.workoutPost th,
.workoutPost td {
    width: 40px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.heartIconLiked {
    color: red;
}

.heartIcon {
    color: grey;
}
