.start-workout-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.start-workout-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-workout-btn {
    margin: 20px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: aliceblue;
    cursor: pointer;
}

.start-template-btn {
    margin: 20px;
    height: 40px;
    width: 150px;
    border: 1px solid black;
    background-color: aliceblue;
    cursor: pointer;
}

.is-blurred {
    filter: blur(2px);
    /* -webkit-filter: blur(2px); */
}
