.workout-card {
    box-shadow: 0 0 10px 5px grey;
    width: 400px;
    margin: 20px;
    margin-top: 30px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
}

.workout-card__header {
    display: flex;
    align-items: center;
}

.workout-card__title {
    font-weight: 1000;
}

.edit-btn {
    margin-left: auto;
    margin-right: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.edit-icon-img {
    width: 20px;
    height: 20px;
}

.workout-card__time-values {
    display: flex;
}

.time-values__date {
    margin-right: 30px;
    color: grey;
}

.time-values__workout-length {
    color: grey;
}

.workout-card__workout-info {
    margin-top: 10px;
}

.exercise-info {
    display: flex;
}
