nav {
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
    padding: 0px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px;
}

nav ul li {
    padding: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.title {
    padding-left: 10px;
    font-weight: 1000px;
}

.active {
    border-bottom: 1px solid white;
}

.login-btn {
    margin-left: auto;
    margin-right: 20px;
    background-color: white;
    border-radius: 10px;
    height: 40px;
    width: 80px;
    cursor: pointer;

    /*text*/
    font-weight: bolder;
}
