.explorePageContainer {
    display: flex;
    justify-content: center;
    /* width: 100vw; */
}

.workoutFeedContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    width: 500px;
    /* height: 87vh; */
    overflow-y: auto;
}
